URL=https://example.com
FILE=/home/user/data/latest
DELAY_MIN=14m30s
DELAY_MAX=24h

SMTPS_HOST=example.com
SMTPS_PORT=465
SMTPS_USERNAME=user
SMTPS_PASSWORD=pass

EMAIL_ADDRESS_FROM=from@example.com
EMAIL_ADDRESS_TO=to@example.com
